# Rust builds
/target
# Trunk builds
/web/dist/

# This file contains environment-specific configuration like linker settings
.cargo/config.toml

# Registry is generated on startup and is redundant to include in the repository.
assets/registry.json
